// SPDX-License-Identifier: GPL-2.0-only
/*
 * ZN M2 board support (no WiFi, ethernet only)
 *
 * Copyright (c) 2021 AmadeusGhost <amadeus@jmu.edu.cn>
 */

#include "ipq6018-512m.dtsi"
#include "ipq6018-ess.dtsi"

/ {
	model = "ZN M2 (ethernet only)";
	compatible = "zn,m2", "qcom,ipq6018";

	aliases {
		serial0 = &blsp1_uart3;
	};

	chosen {
		bootargs = "root=/dev/ubiblock0_1 swiotlb=1";
	};

	gpio_keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&button_pins>;
		pinctrl-names = "default";
		status = "ok";

		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&tlmm 9 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			debounce-interval = <60>;
		};

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&tlmm 60 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&leds_pins>;
		pinctrl-names = "default";
		status = "ok";

		led_power: power {
			label = "m2:blue:power";
			gpio = <&tlmm 58 GPIO_ACTIVE_HIGH>;
		};

		lan {
			label = "m2:blue:lan";
			gpio = <&tlmm 74 GPIO_ACTIVE_HIGH>;
		};

		wan {
			label = "m2:blue:wan";
			gpio = <&tlmm 37 GPIO_ACTIVE_HIGH>;
		};
	};
};

&tlmm {
	button_pins: button_pins {
		wps_button {
			pins = "gpio9";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
		reset_button {
			pins = "gpio60";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	leds_pins: leds_pins {
		mux {
			pins = "gpio37", "gpio58", "gpio74";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	uart_pins: uart_pins {
		mux {
			pins = "gpio44", "gpio45";
			function = "blsp2_uart";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	qpic_pins: qpic_pins {
		data_0 { pins = "gpio15"; function = "qpic_pad0"; drive-strength = <8>; bias-pull-down; };
		data_1 { pins = "gpio12"; function = "qpic_pad1"; drive-strength = <8>; bias-pull-down; };
		data_2 { pins = "gpio13"; function = "qpic_pad2"; drive-strength = <8>; bias-pull-down; };
		data_3 { pins = "gpio14"; function = "qpic_pad3"; drive-strength = <8>; bias-pull-down; };
		data_4 { pins = "gpio5";  function = "qpic_pad4"; drive-strength = <8>; bias-pull-down; };
		data_5 { pins = "gpio6";  function = "qpic_pad5"; drive-strength = <8>; bias-pull-down; };
		data_6 { pins = "gpio7";  function = "qpic_pad6"; drive-strength = <8>; bias-pull-down; };
		data_7 { pins = "gpio8";  function = "qpic_pad7"; drive-strength = <8>; bias-pull-down; };
		qpic_pad {
			pins = "gpio1", "gpio3", "gpio4", "gpio10", "gpio11", "gpio17";
			function = "qpic_pad";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	spi_0_pins: spi_0_pins {
		mux {
			pins = "gpio38", "gpio39", "gpio40", "gpio41";
			function = "blsp0_spi";
			drive-strength = <8>;
			bias-pull-down;
		};
	};
};

&blsp1_uart3 {
	pinctrl-0 = <&uart_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&spi_0 {
	pinctrl-0 = <&spi_0_pins>;
	pinctrl-names = "default";
	cs-select = <0>;
	status = "ok";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		use-default-sizes;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "SBL1";
				reg = <0x0000000 0x00040000>;
				read-only;
			};

			partition@40000 {
				label = "MIBIB";
				reg = <0x00040000 0x00040000>;
				read-only;
			};

			partition@80000 {
				label = "BOOTCONFIG";
				reg = <0x00080000 0x00040000>;
				read-only;
			};

			partition@c0000 {
				label = "APPSBLENV";
				reg = <0x000c0000 0x00040000>;
				read-only;
			};

			partition@100000 {
				label = "APPSBL";
				reg = <0x00100000 0x00040000>;
				read-only;
			};

			partition@140000 {
				label = "ART";
				reg = <0x00140000 0x00040000>;
				read-only;
			};

			partition@180000 {
				label = "kernel";
				reg = <0x00180000 0x00c00000>;
			};

			partition@780000 {
				label = "ubi";
				reg = <0x00780000 0x00880000>;
			};
		};
	};
};

&nand {
	pinctrl-0 = <&qpic_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&nss_crypto {
	status = "ok";
};

&qpic_bam {
	status = "ok";
};

&usb3 {
	status = "ok";
};

&sdhc_1 {
	status = "ok";
};
